.col-md-8{
  height: 200px;
  background-color: blue;
}
.col-md-4{
  height: 200px;
  background-color: red;
}

.col-sm-1{
  height: 100px;
  background-color: black;
  border: 2px solid green;
}

/*media query starts*/

@media /*<--rule*/ screen /*<--media*/ and (min-width: 575px){
  .col-sm-1{
    background-color: red;
  }
}


@media /*<--rule*/ screen /*<--media*/ and (min-width: 768px){
  .col-sm-1{
    background-color: blue;
  }
}
